@import url(https://fonts.bunny.net/css);

:root {
	--base: #faf4ed;
	--surface: #fffaf3;
	--overlay: #f2e9e1;
	--muted: #9893a5;
	--subtle: #797593;
	--text: #575279;
	--love: #b4637a;
	--gold: #ea9d34;
	--rose: #d7827e;
	--pine: #286983;
	--foam: #56949f;
	--iris: #907aa9;
	--highlightLow: #f4ede8;
	--highlightMed: #dfdad9;
	--highlightHigh: #cecacd;
	--headerBackground: #fadcba;
}

* {
	margin: 0;
	font-family: Montserrat;
	list-style: none;
	color: var(--text);

	a,
	u {
		text-decoration: none;
		color: var(--rose);
	}
}

body {
	background-color: var(--base);
	display: flex;
	flex-direction: column;
	justify-content: space-between;


}

ul {
	margin: 10vh 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	li {
		display: flex;
		align-items: center;
		margin: 1vw 0;

		a {
			margin: 0 2em;
		}

		img {
			width: 4em;
			height: 4em;
		}
	}
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--headerBackground);
	height: 20vh;
}


.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--headerBackground);
}
